/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 20, 2026, 10:15:32 AM
    Author     : atolbert
*/
body {
    background-color: thistle;
}
h1 {
    color: linen;
    
}
